@font-face {
  font-family: "StickNoBills";
  src: url("../fonts/Stick_No_Bills/PostNoBillsJaffna-SemiBold.ttf");
}
@font-face {
  font-family: "Raleway";
  src: url("../fonts/Raleway/static/Raleway-Regular.ttf");
}
@font-face {
  font-family: "PlayFair_Display";
  src: url("../fonts/Playfair_Display/static/PlayfairDisplay-Bold.ttf");
}
@-webkit-keyframes slide-bottom {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(50px);
            transform: translateY(50px);
  }
}
@keyframes slide-bottom {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(50px);
            transform: translateY(50px);
  }
}

@-webkit-keyframes swing-in-top-fwd {
  0% {
    -webkit-transform: rotateX(-100deg);
            transform: rotateX(-100deg);
    -webkit-transform-origin: top;
            transform-origin: top;
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateX(0deg);
            transform: rotateX(0deg);
    -webkit-transform-origin: top;
            transform-origin: top;
    opacity: 1;
  }
}
@keyframes swing-in-top-fwd {
  0% {
    -webkit-transform: rotateX(-100deg);
            transform: rotateX(-100deg);
    -webkit-transform-origin: top;
            transform-origin: top;
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateX(0deg);
            transform: rotateX(0deg);
    -webkit-transform-origin: top;
            transform-origin: top;
    opacity: 1;
  }
}

/*Header*/
header {
  background: url(../images/first-screen.png) 50%/cover no-repeat;
}
.header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
}
.wrapper {
  width: 57.2%;
  margin: 0 auto;
}
.header_nav {
  display: flex;
  color: white;
  justify-content: space-between;
  align-items: center;
  padding-top: 30px;
}
.logo {
  width: 137px;
  height: 66px;
  z-index: 3;
}
.logo h2:hover {
  color: rgba(212, 193, 127, 1);
  text-decoration: none;
 }
.logo h2 {
  font-family: "StickNoBills";
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 54px;
  margin: 0;
}
.logo p:hover {
  color: rgba(212, 193, 127, 1);
  text-decoration: none;
 }
.logo p {
  font-family: "Raleway";
  font-style: normal;
  font-size: 12px;
  font-weight: 400;
  line-height: 14px;
  letter-spacing: 1px;
  margin: 0;
}
.nav ul {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.05em;
  display: flex;
  justify-content: space-between;
  list-style: none;
  margin: 0;
}
.nav ul li {
  margin-left: 40px;
}
.nav ul li:hover {
  color: rgba(212, 193, 127, 1);
  text-decoration: none;
 }
/*burger_nav 768px*/
.burger{
  display: none;
}
.appartments {
  height: 29%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.appart_text h1 {
  font-family: "PlayFair_Display";
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 64px;
  text-align: center;
  color: #d4c17f;
  margin-top: 0;
}
.contacts {
  display: flex;
  color: white;
  font-family: "Raleway";
  width: 70%;
  align-self: center;
  justify-content: space-evenly;
  padding-bottom: 70px;
}
.contacts p {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  margin: 0;
}
.addres {
  display: flex;
  align-items: center;
}
.contacts img {
  margin-right: 15px;
}

.tel {
  display: flex;
  align-items: center;
}

main {
  background-color: rgba(36, 43, 51, 1);
}
.mouse {
	-webkit-animation: slide-bottom 2s cubic-bezier(0.250, 0.460, 0.450, 0.440) 1000ms infinite both;
	animation: slide-bottom 2s cubic-bezier(0.250, 0.460, 0.450, 0.440) 1000ms infinite both;
}


/*first_back*/
.first_back{
  position: relative;
}
.II{
  position: absolute;
  right: 15%;
  top: 3%;
  max-width: 100%;
}
.III{
  position: absolute;
  left: 10%;
  top: 33%;
  max-width: 100%;
}
.section_1{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 127vh;
}
.item_rev {
  display: flex;
  justify-content: space-between;
  width: 72%;
  height: 15%;
  margin: 0 auto;
}
.item_rev :nth-of-type(2) {
  width: 20%;
}
.item_rev :nth-of-type(3) {
  width: 20%;
}
.item_rev :nth-of-type(4) {
  width: 20%;
}
.rev_img {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Raleway";
  font-size: 20px;
  color: white;
  justify-content: space-between;
  text-align: center;
}
.rev_img p {
  margin: 0;
}
.item_appartments {
  display: flex;
  flex-direction: column;
  height: 65%;
  justify-content: space-between;
}
.item_appartments h2 {
  font-family: "PlayFair_Display";
  color: rgba(212, 193, 127, 1);
  font-size: 36px;
  margin: 0;
}
.item_appartments .appart_img {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.appart_imgtext {
  position: relative;
}
.appart_imgtext img{
  width: 100%;
  }
  .appart_imgtext:hover {
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
    z-index: 22;
  }
.appart_imgtext p {
  font-family: "Raleway";
  font-size: 24px;
  color: white;
  position: absolute;
  z-index: 1;
  top: 70%;
  left: 25%;
  transform: translate(-50%, -50%);
}

/*look_form*/
.look_form {
  background-image: url(../images/second-screen.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 51vh;
  display: flex;
  align-items: center;
}
.section_form {
  display: flex;
}
.item_look {
  width: 50%;
  display: flex;
  flex-wrap: wrap;
}
.item_look h2 {
  font-family: "PlayFair_Display";
  color: rgba(212, 193, 127, 1);
  font-size: 36px;
  margin: 0;
}
.item_look p {
  font-family: "Raleway";
  font-size: 16px;
  color: white;
  line-height: 24px;
  margin-top: 0;
  padding-top: 50px;
}
.item_form {
  width: 50%;
  display: flex;
  align-items: flex-end;
}
.item_form form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.item_form form p {
  width: 47%;
  font-family: "Raleway";
  font-size: 13px;
  color: white;
  text-align: center;
}
.item_form form p input {
  width: 98%;
  height: 50px;
  background-color: rgba(190, 190, 190, 0.5);
  border: none;
}
input::placeholder {
  color: rgba(190, 190, 190, 1);
  text-align: center;
  font-family: "Raleway";
  font-size: 14px;
} 
.button{
  background-color: rgba(212, 193, 127, 1);
  height: 52px;
  width: 47%;
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 16px;
  text-decoration: none;
  color: rgba(255, 255, 255, 1);
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
/*second_back*/
.second_back{
  position: relative;
}
.IV{
  position: absolute;
  right: 10%;
  top: 15%;
  max-width: 100%;
}
.V{
  position: absolute;
  left: 13%;
  bottom: 29%; 
  max-width: 100%; 
}
.section_2{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 188vh;
}
.item_video{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 35%;
}
.item_video svg{
  position: absolute;
  z-index: 1;
}
.item_map{
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  height: 27%;
}
.item_map h2{
  margin: 0;
  font-family: "PlayFair_Display";
  font-weight: 700;
  font-size: 36px;
  color: #D4C17F;
}
.map{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.item_quest{
  height: 7.5%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.question h2{
  margin: 0;
  font-family: "PlayFair_Display";
  font-weight: 700;
  font-size: 36px;
  color: #D4C17F;
}
.item_form_2{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.item_form_2 form{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 97%; 
}
.item_form_2 p{
  font-family: "Raleway";
  font-size: 13px;
  text-align: center;
  color: white;
  width: 32%;
}
.item_form_2 form p input {
  width: 98%;
  height: 50px;
  background-color: rgba(190, 190, 190, 0.5);
  border: none;
}
input::placeholder {
  color: rgba(190, 190, 190, 1);
  text-align: center;
  font-family: "Raleway";
  font-size: 14px;
}
.button2{
  background-color: rgba(212, 193, 127, 1);
  height: 52px;
  width: 32%;
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 16px;
  text-decoration: none;
  color: rgba(255, 255, 255, 1);
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

/*footer*/
footer {
 background-color: rgba(45, 52, 60, 1);
}
.content_footer {
  display: flex;
  justify-content: space-between;
  height: 25vh;
  align-items: center;
}
.content_footer .block {
  display: flex;
  flex-direction: column;
  color: white;
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.05em;
}
.content_footer .block:nth-child(1){
  align-self: flex-start;
  padding-top: 50px;
}
.content_footer .block:nth-child(2) {
  flex-direction: row;
  justify-content: space-between;
  width: 37%;
}
.item_block ul {
  padding: 0;
}
.item_block ul li {
  list-style: none;
  margin: 15px 0;
}

.item_block ul li:hover {
  color: rgba(212, 193, 127, 1);
  text-decoration: none;
}

.block .icon img {
  margin-right: 10px;
}
.content_footer .block:nth-child(3) p{
  margin: 8px 0;
}
.mail_to{
font-family: 'Raleway';
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 16px;
letter-spacing: 0.05em;
color: #D4C17F;
}
a{
  text-decoration: none;
  color: white;
}

@media screen and (max-width: 1875px){
  .appart_imgtext{
    width: 48%;
  }
}
@media screen and (max-width: 1510px){
  .item_form_2 p{
    font-size: 10px;
  }
  .item_form form p{
    font-size: 10px;
  }

  .item_look p{
    font-size: 14px;
  }
} 
@media screen and (max-width: 1440px){
  .wrapper{
    width: 70%;
  }
} 
@media screen and (max-width: 1280px){

  .item_look p{
    font-size: 12px;
  }
  .rev_img{
    font-size: 16px;
  } 
}

@media screen and (max-width: 1100px){
  .wrapper{
    width: 90%;
  }
}
@media screen and (max-width: 910px){
  .nav ul{
    font-size: 12px;
  }
  .content_footer .block{
    font-size: 12px;
  }
  .logo{
    width: 100px;
  }
  .logo h2{
    font-size: 28px;
  }
  .logo p{
    font-size: 8px;
  }
}
@media screen and (max-width: 768px){
  .wrapper{
    width: 95%;
  }
  .header_nav{
    padding-top: 10px;
  }
  .burger{
    display: block;
    position: relative;
    width: 30px;
    height: 20px;
    z-index: 3;
  }
  .burger span{
    position: absolute;
    background-color: #d4c17f;
    right: 0;
    width: 100%;
    height: 2px;
    top: 9px;
    transition: all 0.3s ease 0s;
  }
  .burger::before, .burger::after{
    content: '';
    background-color: #d4c17f;
    position: absolute;
    width: 100%;
    height: 2px;
    right: 0;
    transition: all 0.3s ease 0s;
  }
  .burger::before{
    top: 0;
  }
  .burger::after{
    bottom: 0;
  }
  .burger.active::before{
    transform: rotate(45deg);
    top: 9px;
  }
  .burger.active::after{
    transform: rotate(-45deg);
    bottom: 9px;
  }
  .burger.active span{
    transform: scale(0);
  }
  .nav{    
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    height: 30%;
    transition: all 0.3s ease 0s;
    background-color: rgba(45, 52, 60, 1);
    padding-top: 120px;
    z-index: 2;
  }
  .nav.active{
    top: 0;
  }
  .nav ul{
    font-size: 12px;
    display: block;
    text-transform: uppercase;
  }
  .nav ul li{
    padding: 0px 0px 10px 0px;
    margin: 0;
  }
  .appart_text h1{
    font-size: 38px;
  }
  .contacts p{
    font-size: 14px;
  }
  .section_1{
  justify-content: space-evenly;
  height: 200vh;
  }  
  .item_rev{
    height: 10%;
    width: 90%;
  }
  .item_appartments{
    height: 86%;
  }
  .appart_imgtext{
    width: 80%;
    margin: 0 auto;
  }
  .appart_imgtext p{
    font-size: 18px;
  }
  .section_form{
    flex-wrap: wrap;
  }
  .item_look{
    width: 100%;
  }
  .item_form{
    width: 100%;
  }
  .item_form_2{
    flex-wrap: wrap;
  }
  .item_form_2 form{
    order: -1;
  }
  .item_video{
    width: 90%;
    margin: 0 auto;
  }
  .item_video video{
    width: 100%;
  }
  .block .logo{
    z-index: 1;
  }
}
@media screen and (max-width: 650px){
  .contacts{
    flex-wrap: wrap;
    margin: 0 auto;
  }
  .contacts p{
    font-size: 12px;
  }
  .addres{
    width: 100%;
    justify-content: center;
  }
  .tel{
    width: 100%;
    justify-content: center;
  }
  .appart_text h1{
    font-size: 30px;
  }
  .II{
    display: none;
  }
  .section_1{
    height: 175vh;
  }
  .section_2{
    height: 150vh;
  }
  .item_video{
    height: 25%;
  }
  .item_map{
    height: 25%;
  }
  .item_quest{
    height: 15%;
  }
  .item_rev{
    flex-wrap: wrap;
    height: 25%;
   }
  .item_rev .rev_img{
    width: 50%;
    justify-content: space-around;
    font-size: 12px;
  }
  .item_appartments h2{
    font-size: 30px;
  }
  .appart_imgtext p{
    font-size: 12px;
  }
  .item_look h2{
    font-size: 30px;
  }
  .button{
    font-size: 12px;
  }
  .item_map h2{
    font-size: 30px;
  }
  .question h2{
    font-size: 30px;
  }
  .button2{
    font-size: 12px;
  }
  .block .logo{
    display: none;
  }  
}
@media screen and (max-width: 475px){
  .section_1{
    height: 140vh;
  }
  .section_2{
    height: 135vh;
    justify-content: space-evenly;
  }
  img{
    max-width: 100%;
  }
  .item_video{
    height: 10%;
  }
  .item_form_2 form{
    flex-wrap: wrap;
  }
  .item_form_2 p {
    width: 50%;
    margin: 5px 0;
}
  .button2{
    width: 50%;
  }
  .content_footer .block{
    font-size: 10px;
  }
  .content_footer .block:nth-child(2){
    width: 50%;
  }
  .content_footer .block:nth-child(3) p{
    margin: 2px;
  }
  .item_quest{
    height: 8.5%;
  }
}
@media screen and (max-width: 400px){
  .section_1{
    height: 175vh;
  }
  .item_appartments {
    height: 60%;
}
  .section_2{
    height: 150vh;
  }
}
